@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

// Variables
// ----------------------------------------------------
$c-mint: #a9e5bb;
$c-lemon: #fcf6b1;
$c-strawberry: #ff4f79;
$c-aqua: #0cf7d0;
$c-chocolate: #594236;
$c-white: #ffffff;

// Base
// ----------------------------------------------------
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	border: 15px solid #f0f0f0;
	font-family: 'Oswald', sans-serif;
}

// Control Panel
// ----------------------------------------------------
.control-panel {
	width: 400px;
	background-color: rgba($c-white, 0.8);
	border: 1px solid #f0f0f0;
	border-left: 0;
	border-top: 0;
	padding: 30px;
	display: none;

	h1 {
		font-size: 1.5em;
		color: $c-strawberry;
		text-transform: uppercase;
		padding-bottom: 20px;
		border-bottom: 1px solid #d0d0d0;
		margin-bottom: 20px;
	}

	.control-wrap {
		margin-bottom: 1em;
		clear: both;
		line-height: 24px;
	}

	p {
		display: inline-block;
	}

	input {
		float: right; 
	}

	// Form Elements
	input[type="range"] {
		-webkit-appearance: none;
		height: 24px;
		margin: inherit; // Removes wonky margins in FF

		&::-webkit-slider-runnable-track {
			height: 8px;
			background: $c-chocolate;
			border: none;
			border-radius: 4px;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: $c-strawberry;
			margin-top: -4px;
		}
	}

	.switch {
		float: right;
	    position: relative; 
	    width: 65px;
	    -webkit-user-select: none; 
	    -moz-user-select: none; 
	    -ms-user-select: none;
	}
	.switch-checkbox {
	    opacity: 0; // Still accessible
	    position: absolute;
	}
	.switch-label {
	    display: block; 
	    overflow: hidden; 
	    cursor: pointer;
	    // border: 2px solid $c-white; 
	    border-radius: 50px;
	}
	.switch-inner {
	    display: block; 
	    width: 200%; 
	    margin-left: -100%;
	    transition: margin 0.3s ease-in 0s;
	}
	.switch-inner:before, .switch-inner:after {
	    display: block; 
	    float: left; 
	    width: 50%; 
	    height: 20px; 
	    padding: 0; 
	    line-height: 20px;
	    font-size: 12px; 
	    color: white; 
	    font-family: Trebuchet, Arial, sans-serif; 
	    font-weight: bold;
	}
	.switch-inner:before {
	    content: "ON";
	    padding-left: 14px;
	    background-color: $c-strawberry; 
	    color: $c-white;
	}
	.switch-inner:after {
	    content: "OFF";
	    padding-right: 14px;
	    background-color: $c-chocolate;
	    text-align: right;
	}
	.switch-knob {
	    display: block; 
	    width: 10px; 
	    height: 10px;
	    margin: 5px 7px;
	    background: $c-white;
	    position: absolute;
	    right: 41px;
	    border: 2px solid $c-white; 
	    border-radius: 50%;
	    transition: right 0.3s ease-in 0s; 
	}
	.switch-checkbox:checked + .switch-label .switch-inner {
	    margin-left: 0;
	}
	.switch-checkbox:checked + .switch-label .switch-knob {
	    right: 0px; 
	}

	// Deleted Nodes List
	.deleted-nodes-list {
		display: none;
		line-height: 1.5;
		color: #999;
	}

	.deleted-nodes-title {
		display: none;
		color: #999;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #d0d0d0;
		margin-bottom: 1em;
	}
}

// Buttons
// ----------------------------------------------------
.button {
	transition: all 0.2s ease;
	background-color: $c-strawberry;
	text-align: center;
	color: $c-white;
	padding: 20px 30px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.5em;
	cursor: pointer;
	z-index: 10;
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 150px);
	width: 300px;

	&:hover {
		background-color: $c-chocolate;
	}
}

// Circles
// ----------------------------------------------------
.circle {
	transition: all 400ms ease;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 5px solid $c-white;
	position: absolute;
	opacity: 0;
	cursor: pointer;

	&.circle--delete-node:before {
		content: '\0274c';
		background-color: $c-white;
		border-radius: 50%;
		padding: 10px;
		position: absolute;
		top: calc(50% - 18px);
		left: calc(50% - 18px);
		width: 36px;
		height: 36px;
	}

}

// Circle Colors
.circle--mint {
	background-color: $c-mint;
	border-top-color: $c-chocolate;
	border-right-color: $c-lemon;
	border-bottom-color: $c-strawberry;
	border-left-color: $c-aqua;
}

.circle--lemon {
	background-color: $c-lemon;
	border-top-color: $c-mint;
	border-right-color: $c-chocolate;
	border-bottom-color: $c-aqua;
	border-left-color: $c-strawberry;
}

.circle--strawberry {
	background-color: $c-strawberry;
	border-top-color: $c-mint;
	border-right-color: $c-lemon;
	border-bottom-color: $c-aqua;
	border-left-color: $c-chocolate;
}

.circle--aqua {
	background-color: $c-aqua;
	border-top-color: $c-mint;
	border-right-color: $c-lemon;
	border-bottom-color: $c-strawberry;
	border-left-color: $c-chocolate;
}

.circle--chocolate {
	background-color: $c-chocolate;
	border-top-color: $c-mint;
	border-right-color: $c-lemon;
	border-bottom-color: $c-aqua;
	border-left-color: $c-strawberry;
}

.circle--uniform {
	transition: all 200ms ease;
	background-color: $c-lemon;
	border-color: $c-strawberry;
}


// Circle Sizes
.circle--tiny {
	width: 50px;
	height: 50px;
	border-width: 3px;
}

.circle--medium {
	width: 125px;
	height: 125px;
}

.circle--large {
	width: 150px;
	height: 150px;
	border-width: 6px;
}

.circle--xlarge {
	width: 200px;
	height: 200px;
	border-width: 7px;
}

// Individual Circle Positions
// ----------------------------------------------------
#circle-01 { top: 50%; left: 55%; }
#circle-02 { top: 30%; left: 45%; }
#circle-03 { top: 70%; left: 10%; }
#circle-04 { top: 60%; left: 80%; }
#circle-05 { top: 10%; right: 5%; }
#circle-06	{ top: 80%; left: 50%; }
#circle-07 { bottom: 5%; left: 20%; }
#circle-08 { bottom: 10%; right: 20%; }
#circle-09 { top: 10%; left: 50%; }
#circle-10 { top: 40%; left: 10%; }

// Tooltip
// ----------------------------------------------------
.tooltip {
	background-color: $c-chocolate;
	color: $c-white;
	padding: 10px;
	text-align: center;
	width: 90px;
	font-weight: 300;
	border-radius: 4px;
	position: absolute;
	top: -55px;
	left: calc(50% - 45px);
	white-space: nowrap;
	transition: all 800ms ease;
	display: none;

	&:after {
		content: '';
		border-radius: 2px;
		position: absolute;
		width: 0;
		height: 0;
		border: 10px solid $c-chocolate;
		transform: rotate(45deg);
		z-index: -1;
		bottom: -8px;
		left: calc(50% - 10px);
	}
}

// Animations
// ----------------------------------------------------
.animate-bounce {
	animation: bounce 800ms ease-out;
	animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

.animate-shake {
	animation-name: shake;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 50% 50%;
}

@keyframes shake {
	0% { opacity: 1; transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { opacity: 1; transform: translate(1px, -2px) rotate(-1deg); }
}